.App{
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.6;
}
table{
  width: 100%;
  background-color: blanchedalmond;
}
td,tr{
  background-color: rgb(255, 255, 255);
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.account-summary{
width: 30%;
text-align: center;
padding: 0%;
margin: 0% auto;
line-height: 0.2;
}
.summary-header{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
.summary-footer{
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
}
.summary-item{
  display: flex;
  justify-content: space-between;
  margin: 2%;
}
.summary-item span{
  background-color: black;
  width: min(8%);
}
.income-form{
  text-align: center;
}
.split{
  display: flex;
  justify-content: space-evenly;
}
.account-pie{
  width: 25%;
  padding: 1%;
  border: solid rgb(179, 179, 179) 2px;
}